.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}


.sidenav a{
    padding: 12px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    background-color: black;
    color: white;
    transition: .7s ease-in;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
}

span i {
    padding: 12px;
    font-size: 30px;
}


@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}